!!! html5
%head
  %script(src="json2.js" type="text/javascript" charset="utf-8")
  %script(src="underscore.js" type="text/javascript" charset="utf-8")
  %script(src="jquery.js" type="text/javascript" charset="utf-8")
  %script(src="main.js" type="text/javascript" charset="utf-8")
  %link(rel="stylesheet" href="normalize.css")
  %link(rel="stylesheet" href="main.css")

%body
  #content
